@media screen and (max-width:1200px){
    .last{
        list-style: none;
        display: inline-block;
        margin: 10px 30px
    }
    .movie_3{
        text-align: center
    }
}
@media screen and (min-width:1200px) {
    .last{
        list-style: none;
        display: inline-block;
        margin: 10px 30px
    }
    .movie_3{
        text-align: center
    }
}